<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/94b0028a-2362-47d3-8330-7813e3978285/resourceGroups/rg-mcp/providers/Microsoft.ContainerRegistry/registries/crcmp</ResourceId>
    <ResourceName>crcmp</ResourceName>
    <ResourceGroup>rg-mcp</ResourceGroup>
    <Subscription>Visual Studio Enterprise Subscription – MPN - Bao Do</Subscription>
    <RegistryUrl>https://crcmp.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>ae2bdc88-d1cd-68a9-724b-0bb2bf755b0e</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>